.settings {
    background: #f9f9f9;
}

.blackListItem {
  height: 35px;
  padding: 5px;
  border-bottom: 2px solid #fefefe;
}

.blackListItem p {
  vertical-align: middle;
  line-height: 30px;
}

.blackListItem button {
  float:right;
}
